div.paragraph-keyboard-wrapper {
	width: 100%;
	height: 100%;
    position: relative;
}

div.paragraph-keyboard-wrapper.disabled {
	pointer-events: none;
  	cursor: default;
	opacity: 0.5;
}

div.paragraph-wrapper {
    position: absolute;
    border: solid 1px #9E9E9E;
	border-radius: 2px;
    overflow-y: hidden;
    overflow-x: auto;
}

div.paragraph-wrapper textarea {
	width: 100%;
	height: 100%;
}

div.paragraph-lock {
	width: 100%;
	height: 100%;
	background: #e8eef3;
	position: absolute;
	top: 1px;
}

.paragraph-keyboard {
    position: absolute;
    display: inline-block;
    background: #eeeeee;
    border: solid 1px #dddddd;
    padding: 2px;
    border-radius: 4px;
}

.paragraph-keyboard-letter {
    min-width: 2em;
    width: auto;
    float: left;
    text-align: center;
    padding: 2px;
    color: #1c94c4;
    border: solid 1px #ccc;
    background: #f6f6f6;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px;
}

.paragraph-keyboard-empty {
    min-width: 2em;
    width: auto;
    float: left;
    text-align: center;
    padding: 2px;
    margin: 3px;
}

.paragraph-keyboard-letter.clicked {
    background: #fdf5ce;
    color: #c77405;
    border-color: #fbcb09;
}

.keyRow {
    width: auto;
    float: left;
}

.keyboard-clear {
    clear: both;
    width: auto;
}

.paragraph-keyboard-shift {
    padding: 2px;
    color: #1c94c4;
    border: solid 1px #ccc;
    border-radius: 4px;
    cursor: pointer;
    min-width: 2em;
    width: auto;
    float: left;
    text-align: center;
    padding: 2px;
    margin: 3px;
    background: url("resources/ic_keyboard_capslock_24px.svg") no-repeat center center #f6f6f6;
}

.paragraph-keyboard-shift.clicked {
    background-color: #fdf5ce;
    border-color: #fbcb09;
}