.wrapper-cell, .writing-calculations-input {
    float: left;
    width: 50px;
    height: 25px;
    line-height: 25px;
    padding: 0;
    text-align: center;
    font-size: 12px;
    margin: 1px 0;
}

.writing-calculations-input {
    width: 25px;
    float: none;
    height: 23px;
    text-align: center !important;
}

.wrapper-row {
    float: left;
}

.writing-calculations-input.incorrect {
    border: 1px solid red !important;
    background-color: #faa !important;
}

.writing-calculations-input.correct {
    border: 1px solid green !important;
    background-color: #afa !important;
}

.wrapper-line {
    float: left;
    width: 50px;
}

.container-line {
    border-bottom: 1px solid #111;
    height: 5px;
}

.wrapper-empty-space {
    float: left;
    height: 1px;
    width: 50px;
}

.wrapper-dot {
    float: left;
    width: 0px;
    position: relative;
}

.container-dot {
    position: absolute;
    left: -4px;
    top: 4px;
}

.wrapper-cell {
    min-height: 3px;
}

.wrong {
    border: 1px solid #ff1111;
}

.correct {
    border: 1px solid #00bb00;
}

.container-helpBox .writing-calculations-input {
    background-color: lightslategray;
    width: 20px;
    height: 20px;
}
