.text_selection .selectable {
	border-radius: 5px;
}

.text_selection .selected {
	background-color: #FAFAD2;
}

.text_selection .wrong {
	background-color: #FF6347;
}

.text_selection .correct {
	background-color: #7CFC00;
}

.text_selection .hover {
	background-color: orange;
	cursor: pointer;
}

.text_selection div {
    min-height: 20px;
}