.selectable {
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* Konqueror */
    -moz-border-radius: 5px; /* Firefox */
    border-radius: 5px;
}

.selected {
    background-color: #FAFAD2;
}

.wrong {
    background-color: #FF6347;
}
    
.correct {
    background-color: #7CFC00;
}

.hover {
    background-color: orange;
    cursor: pointer;
}