.addon-Dice-wrapper{
    width: 100%;
    height: 100%;
}

.addon-Dice-image-element {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    position: absolute;
}

.dice-element-visible {
    opacity: 1;
}

.addon-Dice-wrapper .loading {
    background-color: gray;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

.addon-Dice-dice-container {
    width: 100%;
    height: 100%;
    position: absolute;
}