.gradual-show-answers-button {
    background: url('resources/show-answer.png') no-repeat center;
    cursor: pointer;
    text-align: center;

    width: 100%;
    height: 100%;
}

.gradual-hide-answers-button {
    background: url('resources/hide-answer.png') no-repeat center;
}

.gradual-show-answers-container {
    width: 100%;
    height: 100%;
}

.gradual-show-answers-wrapper {
    width: 100%;
    height: 100%;
}