div.paragraph-wrapper {
	width: 100%;
	height: 100%;
	border: solid 1px #9E9E9E;
	border-radius: 2px;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

div.paragraph-wrapper textarea {
	width: 100%;
	height: 100%;
}