/test.log
/.gwt
/.settings
/dist
/gwt-unitCache
/reports
/target
/test
/build.properties
/.idea
**/*.iml
/addons/addons.list.temp
.DS_Store
**/test-reports
**/.vscode/*
src/main/java/com/lorepo/icplayer/public/build/dist
/src/main/java/com/lorepo/icplayer/public/build/
/junitvmwatcher*.properties
/junit*.properties
/.classpath
