.addon_PieChart{
    -ms-touch-action: none;
}
.piechart {
    border: 3px solid #ccc;
    float: left;
}
.disabled {
    opacity: 0.5;
}
.correct {
    border: 3px solid green;
}
.wrong {
    border: 3px solid red;
}
.graph {
    stroke: #000;
    stroke-width: 2px;
    fill-opacity: 0;
}
.line {
    stroke-width: 20px;
    stroke: #A52A2A;
    stroke-opacity: 0;
}
.item {
    fill: red;
    background: red;
}
.item1 {
    fill: #ffaaff;
    background: #ffaaff;
}
.item2 {
    fill: #ffaaaa;
    background: #ffaaaa;
}
.item3 {
    fill: #00aaaa;
    background: #00aaaa;
}
.legend {
    border:1px solid #000;
    padding: 5px;
    float: left;
    margin: 10px;
}
.legendItem {
    padding-bottom:2px;
}
.legendSquare {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    display: inline-block;
}
.legendText {
    display: inline;
}
.percentsValues{
    fill: blue;
}