div.addon-editable-window-fixed-container {
    position: fixed;
    top: 0;
    left: 0;
}

div.addon-editable-window-container.addon-editable-window-container-full-screen.ui-draggable-disabled {
    opacity: 1;
    background-image: initial;
}

div.addon-editable-window-container-full-screen {
    left: 0 !important;
}

.addon-editable-window-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #eaeaea;
    border: 1px solid #cccccc;
    display: flex;
    flex-flow: column;
    cursor: move;
}

.addon-editable-window-wrapper iframe {
    display: none;
}

.addon-editable-window-wrapper textarea {
    width: 100%;
    height: 100%;
}

div.addon-editable-buttons-menu {
    z-index: 203;
    position: fixed;
}

.addon-editable-close-button {
    position: absolute;
    top: 2px;
    right: 2px;
    height: 30px;
    width: 35px;
    line-height: 30px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 201;
}

button.addon-editable-full-screen-button {
    position: absolute;
    top: 8px;
    right: 40px;
    height: 20px;
    width: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 201;
    background-repeat: no-repeat;
}

button.addon-editable-open-full-screen-button {
    background-image: url('resources/open-fullscreen-button.png');
}

button.addon-editable-close-full-screen-button {
    background-image: url('resources/close-fullscreen-button.png');
}

.addon-editable-reset-button {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 10px;
    bottom: 6px;
    border: none;
    background: url('resources/reset-button.png') no-repeat center;
    background-size: 11px 11px;
    z-index: 201;
    cursor: pointer;
}

.addon-editable-window-wrapper .header {
    min-height: 20px;
    font-size: 14px;
    padding: 8px 10px;
    width: 82%;
    overflow: hidden;
    cursor: move;
}

.addon-editable-window-wrapper audio {
    height: 35px;
    width: 100%;
    background-color: #f1f3f4;
}

.addon-editable-window-wrapper .video-wrapper {
    flex-grow: 1;
    display: grid;
    background-color: black;
    cursor: default;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .addon-editable-window-wrapper .video-wrapper {
        height: 100%;
   }
}

.addon-editable-window-wrapper video {
    height: 100%;
    width: 100%;
}

.addon-editable-window-wrapper .footer {
    height: 20px;
}

.addon-editable-window-wrapper .text-wrapper {
    padding: 10px;
}

.addon-editable-window-wrapper .video-wrapper .offline-video-message {
    width: 100%;
    top: 45%;
    position: absolute;
    z-index: 205;
    color: white;
    text-align: center;
    display: none;
}

.selected_module_fake {
    outline: 2px solid rgba(27,144,253,1) !important;
	-webkit-box-shadow: 0 0 2px 0 rgba(27,144,253,0.6) !important;
	box-shadow: 0 0 2px 0 rgba(27,144,253,0.6) !important;
}

.active_module_fake {
	outline: 2px solid rgba(0,255,0,1) !important;
	-webkit-box-shadow: 0 0 2px 0 rgba(0,255,0,0.6) !important;
	box-shadow: 0 0 2px 0 rgba(0,255,0,0.6) !important;
}
