.geometric_construct_wrapper {
    height: 100%;
    display: flex;
}

.geometric_construct_wrapper .toolbar_wrapper {
    display: flex;
    height: 100%;
    width: 220px;
    flex-wrap: wrap;
}

.geometric_construct_wrapper .workspace_wrapper {
    display: inline-block;
    height: 100%;
    flex-grow: 1;
    border: 1px solid;
    position: relative;
}

.geometric_construct_wrapper .workspace_wrapper canvas {
    height: 100%;
    width: 100%;
}

.geometric_construct_wrapper .workspace_wrapper .canvas_overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.geometric_construct_wrapper .workspace_wrapper .remove_figure {
    display: block;
    height: 35px;
    width: 30px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: url('resources/delete_24dp.svg') no-repeat center;
    background-size: 40px;
}

.geometric_construct_wrapper .toolbar_wrapper .toolbarButton {
    display: inline-block;
    max-width: 100px;
    height: 80px;
    margin: 10px 5px 5px 5px;
    padding: 5px;
}

.geometric_construct_wrapper .toolbar_wrapper .toolbarButton .icon {
    display: block;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.geometric_construct_wrapper .toolbar_wrapper .toolbarButton .icon.cursor-image {
    background: url('resources/pan_tool_alt_24dp.svg') no-repeat center;
    background-size: 30px;
}

.geometric_construct_wrapper .toolbar_wrapper .toolbarButton .icon.point-image {
    background: url('resources/gc_point_icon.png') no-repeat center;
}

.geometric_construct_wrapper .toolbar_wrapper .toolbarButton canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.geometric_construct_wrapper .toolbar_wrapper .toolbarButton .toolbar-button-label {
    text-align: center;
    font-size: 0.7em;
}

.geometric_construct_wrapper .toolbar_wrapper .toolbarButton.selected {
    border: 1px solid;
}