.geometric_construct_wrapper {
    height: 100%;
    display: flex;
}

.geometric_construct_wrapper .toolbar_wrapper {
    height: 100%;
    width: 220px;
}

.geometric_construct_wrapper .toolbar_wrapper .toolbar_options {
    height: calc(100% - 36px);
    width: 220px;
    overflow-y: auto;
}

.geometric_construct_wrapper .toolbar_wrapper .toolbar_options .toolbar_section {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.geometric_construct_wrapper .toolbar_wrapper .static_tools {
    display: block;
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: 0px;
}

.geometric_construct_wrapper .toolbar_wrapper .static_tools .undo_button {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('resources/undo_24dp.svg') no-repeat center;
    background-size: 35px;
    border: none;
}

.geometric_construct_wrapper .toolbar_wrapper .static_tools .redo_button {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('resources/redo_24dp.svg') no-repeat center;
    background-size: 35px;
    border: none;
}

.geometric_construct_wrapper .toolbar_wrapper .static_tools .reset_button {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('resources/restart_alt_24dp.svg') no-repeat center;
    background-size: 35px;
    border: none;
}

.geometric_construct_wrapper .toolbar_wrapper .static_tools .labels_button {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('resources/gc_labels_visibility_24dp.svg') no-repeat center;
    background-size: 35px;
    border: none;
}

.geometric_construct_wrapper .workspace_wrapper {
    display: inline-block;
    height: 100%;
    flex-grow: 1;
    border: 1px solid;
    position: relative;
    overflow: hidden;
}

.geometric_construct_wrapper .workspace_wrapper canvas {
    height: 100%;
    width: 100%;
}

.geometric_construct_wrapper .workspace_wrapper .canvas_overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.geometric_construct_wrapper .workspace_wrapper .remove_figure {
    display: block;
    height: 35px;
    width: 30px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: url('resources/delete_24dp.svg') no-repeat center;
    background-size: 40px;
    border: none;
}

.geometric_construct_wrapper .workspace_wrapper .edit_figure {
    display: block;
    height: 35px;
    width: 30px;
    position: absolute;
    right: 10px;
    bottom: 55px;
    background: url('resources/edit_24dp.svg') no-repeat center;
    background-size: 40px;
}

.geometric_construct_wrapper .workspace_wrapper .edit_figure {
    display: block;
    height: 35px;
    width: 30px;
    position: absolute;
    right: 10px;
    bottom: 55px;
    background: url('resources/edit_24dp.svg') no-repeat center;
    background-size: 40px;
}

.geometric_construct_wrapper .toolbar_wrapper .toolbarButton {
    display: inline-block;
    max-width: 80px;
    min-height: 80px;
    margin: 10px 5px 5px 5px;
    padding: 5px;
    border: none;
}

.geometric_construct_wrapper .toolbar_wrapper .toolbarButton .icon {
    display: block;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.geometric_construct_wrapper .toolbar_wrapper .toolbarButton .icon.cursor-image {
    background: url('resources/pan_tool_alt_24dp.svg') no-repeat center;
    background-size: 30px;
}

.geometric_construct_wrapper .toolbar_wrapper .toolbarButton .icon.point-image {
    background: url('resources/gc_point_icon.png') no-repeat center;
}

.geometric_construct_wrapper .toolbar_wrapper .toolbarButton .icon.line-segment-image {
    background: url('resources/gc_line_segment_icon.png') no-repeat center;
}

.geometric_construct_wrapper .toolbar_wrapper .toolbarButton .icon.half-open-line-segment-image {
    background: url('resources/gc_half_open_line_segment_icon.png') no-repeat center;
}

.geometric_construct_wrapper .toolbar_wrapper .toolbarButton .icon.open-line-segment-image {
    background: url('resources/gc_open_line_segment_icon.png') no-repeat center;
}

.geometric_construct_wrapper .toolbar_wrapper .toolbarButton .icon.circle-image {
    background: url('resources/gc_circle_icon.png') no-repeat center;
}

.geometric_construct_wrapper .toolbar_wrapper .toolbarButton .icon.circle-with-point-image {
    background: url('resources/gc_circle_with_point_icon.png') no-repeat center;
}

.geometric_construct_wrapper .toolbar_wrapper .toolbarButton .icon.compasses-image {
    background: url('resources/gc_compasses_icon.png') no-repeat center;
    background-size: 40px;
}

.geometric_construct_wrapper .toolbar_wrapper .toolbarButton .icon.arc-with-center-point-image {
    background: url('resources/gc_arc_with_center_point_icon.png') no-repeat center;
}

.geometric_construct_wrapper .toolbar_wrapper .toolbarButton .icon.angle-image {
    background: url('resources/gc_angle_icon.png') no-repeat center;
}

.geometric_construct_wrapper .toolbar_wrapper .toolbarButton canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.geometric_construct_wrapper .toolbar_wrapper .toolbarButton .toolbar-button-label {
    text-align: center;
    font-size: 0.7em;
}

.geometric_construct_wrapper .toolbar_wrapper .toolbarButton.selected {
    border: 1px solid;
}

.geometric_construct_wrapper .workspace_wrapper .config_popup {
    height: 180px;
    width: 300px;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid 1px black;
    font-size: 0.8em;
}

.geometric_construct_wrapper .workspace_wrapper .config_popup .title {
    padding: 5px;
}

.geometric_construct_wrapper .workspace_wrapper .config_popup .values {
    flex-grow: 1;
    padding: 10px 0px;
}

.geometric_construct_wrapper .workspace_wrapper .config_popup .values .property_wrapper {
    padding: 10px;
    width: calc(100%-20px);
}

.geometric_construct_wrapper .workspace_wrapper .config_popup .values .property_wrapper .property_title {
    font-size: 0.6em;
}

.geometric_construct_wrapper .workspace_wrapper .config_popup .values .property_wrapper input {
    width: 100%;
    border: 0px;
    border-bottom: 1px solid;
}

.geometric_construct_wrapper .workspace_wrapper .config_popup .buttons {
    display: flex;
    padding: 5px;
}

.geometric_construct_wrapper .workspace_wrapper .config_popup .buttons button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: solid 1px black;
    padding: 3px;
}

.geometric_construct_wrapper .workspace_wrapper .axis_label {
    font-size: 0.7em;
    color: #444444;
}