.ic_page{
    direction:ltr;
}

#container * {
    direction:inherit;
}

.tf_radio,
.tf_checkbox {
    margin:0 0 1em 0;
    width: 100%;
    height: 100%;
    text-align:left;
    position: absolute;
    left: 0;
    top: 0;
    border-spacing:0 5px;
}

.tf_radio_row,
.tf_checkbox_row {
}

.tf_radio_image,
.tf_checkbox_image {
    cursor:pointer;
    border-collapse: separate;
    width:70px;
    min-width:70px;
    height:26px;
    min-height:26px;
    border-bottom:1px solid #111;
    border-top:1px solid #111;

}

.tf_radio_image.last,
.tf_checkbox_image.last {
    border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    border-right:1px solid #111;
}

.tf_radio_text,
.tf_checkbox_text {
    margin:5px 0 0 4px;
    width:70px;
    min-width:70px;
    height:26px;
    min-height:26px;
    text-align:center;
}

.tf_radio_question.first,
.tf_checkbox_question.first {
    border:0;
}

.tf_radio_question,
.tf_checkbox_question {
    margin-top:5px;
    border-bottom:1px solid #111;
    border-top:1px solid #111;
    border-left:1px solid #111;
    padding:10px;
    border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
}

.tf_radio_image.up div {
    background-image: url('resources/tf-radio-image-up.png');
}

.tf_radio_image.up.disabled div {
    background-image: url('resources/tf-radio-image-up-disabled.png');
}

.tf_radio_image.down div {
    background-image: url('resources/tf-radio-image-down.png');
}

.tf_radio_image.down.correct div,
.tf_radio_image.down.correct-answer div{
    background-image: url('resources/tf-radio-image-down-correct.png');
}

.tf_radio_image.down.wrong div {
    background-image: url('resources/tf-radio-image-down-wrong.png');
}

.tf_checkbox_image.up div {
    background-image: url('resources/tf-checkbox-image-up.png');
}

.tf_checkbox_image.up.disabled div {
    background-image: url('resources/tf-checkbox-image-up-disabled.png');
}

.tf_checkbox_image.down div {
    background-image: url('resources/tf-checkbox-image-down.png');
}

.tf_checkbox_image.down.correct div,
.tf_checkbox_image.down.correct-answer div{
    background-image: url('resources/tf-checkbox-image-down-correct.png');
}

.tf_checkbox_image.down.wrong div {
    background-image: url('resources/tf-checkbox-image-down-wrong.png');
}

.tf_checkbox_image div,
.tf_radio_image div {
    width: 100%;
    height: 100%;
    background: no-repeat left center;
}

.printable_addon_TrueFalse .radio-container,
.printable_addon_TrueFalse .checkbox-container {
    position: relative;
}

.printable_addon_TrueFalse .radio-container input,
.printable_addon_TrueFalse .checkbox-container input {
    position: absolute;
    visibility: hidden;
}

.printable_addon_TrueFalse .radio-container span {
    display: block;
    width: 0.8em;
    height: 0.8em;
    border: solid 1px;
    border-radius: 50%;
}

.printable_addon_TrueFalse .checkbox-container span {
    display: block;
    width: 0.8em;
    height: 0.8em;
    border: solid 1px;
    border-radius: 2px;
}

.printable_addon_TrueFalse .radio-container span:after,
.printable_addon_TrueFalse .checkbox-container span:after {
    display: none;
    content: "";
}

.printable_addon_TrueFalse .radio-container input:checked ~ span:after,
.printable_addon_TrueFalse .checkbox-container input:checked ~ span:after {
    display: block;
}

.printable_addon_TrueFalse .radio-container span:before {
    position: relative;
    top: 18.5%;
    left: 18.5%;
    width: 12%;
    height: 12%;
    border: solid black;
    border-radius: 50%;
}

.printable_addon_TrueFalse .checkbox-container span:before {
    position: relative;
    width: 0.5em;
    height: 0.5em;
    border: solid black;
}

.correctAnswerMark::after {
    content: "\2714";
}

.incorrectAnswerMark::after {
    content: "\2716";
}
