.addon_PointsLines .pointslines {
    border: 3px solid #ccc;
    position:absolute;
    -ms-touch-action: none;
    touch-action: none;
}
.addon_PointsLines .disabled {
    height: 100%;
    width: 100%;
    background-color: gray;
    opacity: 0.3;
    position:absolute;
}

.addon_PointsLines .correct {
    border: 3px solid green;
}

.addon_PointsLines .wrong {
    border: 3px solid red;
}

.addon_PointsLines .point_container {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
}

.addon_PointsLines .point {
    position: relative;
    height: 16px;
    width: 16px;
    background-color: gray;
    border-radius: 8px;
    float: left;
    left:-8px;
    top: -8px;
    margin-bottom: -5px;
}

.addon_PointsLines .selected {
    background-color: blue;
}

.addon_PointsLines .line {
    position: absolute;
    height:3px;
    background-color: blue;
}

.addon_PointsLines .line-show-answer {
    position: absolute;
    height:3px;
    background-color: gray;
}

.addon_PointsLines .noremovable {
    background-color: black;
}

.addon_PointsLines .correctLine {
    background-color: green;
}

.addon_PointsLines .wrongLine {
    background-color: red;
}

.addon_PointsLines .point_index {
    color: black;
    cursor: default;
}