.multiplegap_container {
    position: absolute;
}

.multiplegap_container .placeholder {
    position: absolute;
    overflow: hidden;
}

.multiplegap_texts .placeholder img,
.multiplegap_texts .placeholder p,
{
    margin: 0;
    padding: 0;
}

.multiplegap_container .handler {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
}



.multiplegap_container .placeholder_valid {
    border: 1px solid #00ff00;
}

.multiplegap_container .placeholder_invalid {
    border: 1px solid #ff0000;
}

.multiplegap_container .placeholder_valid .handler,
.multiplegap_container .placeholder_invalid .handler {
    cursor: default;
}