.wrapper-addon-audio-playlist audio {
    bottom: 0;
    position: absolute;
}

.wrapper-addon-audio-playlist {
    height: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
}

div.addon-audio-playlist-controls {
    padding: 10px 25px;
    position: relative;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
}

.audioplayer {
    background-color: #EBEFF0;
    border-radius: 20px;
    width: 340px;
    height: 40px;
    display: table;
    padding-right: 2px;
    position: relative;
}

button.audio-playlist-control-btn {
    width: 38px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 0;
    background-color: white;
}

button.audio-playlist-next-btn {
    background-image: url('resources/audio-next-btn.png');
}

button.audio-playlist-prev-btn {
    background-image: url('resources/audio-prev-btn.png');
}

button.audio-playlist-play-pause-btn {
    border: solid 3px #444;
    border-radius: 30px;
}

button.audio-playlist-play-btn {
    background-image: url('resources/audio-play-btn.png');
}

button.audio-playlist-pause-btn {
    background-image: url('resources/audio-pause-btn.png');
}

.audio-playlist-volume-btn {
    background: url('resources/audio-volume-btn.png');
    margin-left: auto;
}

div.audio-playlist-slider {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.addon-audio-playlist-items-wrapper {
    height: calc(100% - 62px);
    padding: 0 25px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #444 #F4F5F6;
}

.addon-audio-playlist-items-wrapper::-webkit-scrollbar {
    width: 8px;
}
.addon-audio-playlist-items-wrapper::-webkit-scrollbar-thumb {
    background-color: #444;
}

.addon-audio-playlist-items-wrapper::-webkit-scrollbar-track {
    background: #F4F5F6;
}


div.addon-audio-playlist-items {
    padding: 10px;
}

div.addon-audio-playlist-item {
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    background-color: white;
}

div.addon-audio-playlist-item-selected {
    background-color: #F4F5F6;
}

span.addon-audio-playlist-item--name {
    flex-grow: 1;
    padding: 0 5px;
}

button.addon-audio-playlist-item--button {
    width: 20px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url('resources/audio-play-btn.png');
    border: 1px solid gray;
    border-radius: 15px;
    background-size: 10px;
    background-color: white;
}

button.addon-audio-playlist-item--button-playing {
    background-image: url('resources/audio-pause-btn.png');
}


div.audio-playlist-timer {
    font-size: 15px;
}

.audio-volume0 {
    background-image: url('resources/volume-0.png');
}

.audio-volume1 {
    background-image: url('resources/volume-1.png');
}

.audio-volume2 {
    background-image: url('resources/volume-2.png');
}

.audio-volume3 {
    background-image: url('resources/volume-3.png');
}

.player-time {
    vertical-align: middle;
    display: table-cell;
    height: 40px;
    line-height: 16px;
    padding-right: 10px;
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: grey;
}

.audio-playlist-progress-bar {
    -ms-touch-action: none;
    touch-action: none;
    width: 100px;
    margin-left: 15px;
    background-color: #FFF;
    border-radius: 5px;
    flex-grow: 1;
    display: flex;
}

.audio-playlist-slider-btn {
    width: 20px;
    height: 20px;
    background: url('resources/audio-slider-btn.png') no-repeat;
    float: left;
    margin-left: -10px;
    margin-top: -5px;
    position: absolute;
    cursor: pointer;
}

div.audio-playlist-bar {
    background-color: #BDC2C7;
    float: left;
    height: 10px;
    margin-left: 0;
    position: relative;
    width: 100%;
    border-radius: 5px;
    border: 0;
}

div.audio-playlist-bar--fill {
    height: 10px;
    width: 0;
    background-color: #0A8DBD;
    border-radius: 5px;
}

.addon-audio-playlist-bar--ball {
    cursor: pointer;
    position: absolute;
    background: url("resources/audio-slider-btn.png");
    width: 14px;
    height: 14px;
    background-size: contain;
    margin-top: -2px;
    margin-left: -2px;
    top: 0;
    left: 0;
}

div.audio-playlist-max-time {
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    padding: 0 15px;
}

.addon-audio-playlist-volume-wrapper {
    width: auto;
    display: flex;
}

.addon-audio-playlist-volume-wrapper--expanded {
    width: 30%;
}

.addon-audio-playlist-volume-bar--hidden {
    display: none;
}

.addon-audio-playlist-volume-bar {
    margin: auto;
    background-color: #BDC2C7;
    height: 5px;
    margin-left: 0;
    position: relative;
    width: 100%;
    border-radius: 2px;
    border: 0;
}

.addon-audio-playlist-volume-bar-fill {
    position: absolute;
    cursor: pointer;
    left: 1px;
    top: 0;
    bottom: 0;
    height: 5px;
    background-color: #0A8DBD;
    border-radius: 2px;
    width: 100%;
}

.audio-volume-control {
    position: absolute;
    width: 20px;
    height: 40px;
    background: url('resources/audio-slider-btn.png') no-repeat center;
    margin-left: -10px;
}

.audio-speed-controller {
    float: left;
    margin-top: 10px;
    height: 30px;
    width: 60px;
    line-height: 16px;
    padding-right: 10px;
    background-color: inherit;
}

.audio-speed-controller select {
    width: 100%;
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: grey;
    border: 0;
    background-color: inherit;
}