.sandbox {
    position: absolute;
    border: solid 1px black;
    z-index: 0;
}

.sandbox span {
    color: red; background-color: yellow; font-weight: bold;
}

.turtle {
    position: absolute;
    border: solid 1px black;
    z-index: 1;
}

.TurtleGraphic-wrapper.preview {
    width: 100%;
    height: 100%;
}