.addon_Line_Number .outer .infinity-left,
.addon_Line_Number .outer .infinity-right {
    height: 100%;
    width: 5%;
    position: absolute;
    z-index: 9;
}

.addon_Line_Number .outer .infinity-left {
    left: 0px;
}

.addon_Line_Number .outer .infinity-right {
    right: 0px;
}

.addon_Line_Number .outer {
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    position: relative;
}

.addon_Line_Number .inner {
    width: 90%;
    height: 100%;
    position: absolute;
    left: 5%;
    background-color: #fefefe;
}

.addon_Line_Number .x-axis {
    width: 100%;
    height: 2px;
    min-height: 2px;
    max-height: 2px;
    position: absolute;
    z-index: 12;
    top: 50%;
    background-color: #111;
}

.addon_Line_Number .stepLine {
    width: 2px;
    height: 8px;
    min-height: 8px;
    background-color: #111;
    position: absolute;
    top: 50%;
    margin-top: -4px;
}

.addon_Line_Number .rangeImage, .addon_Line_Number .currentMousePosition {
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    left: -5px;
    top: -1px;
    z-index: 11;
    background-size: 12px 12px;
}

.addon_Line_Number .exclude {
    background-image: url('resources/range_exclude.svg');
}

.addon_Line_Number .include {
    background-image: url('resources/range_include.svg');
}

.addon_Line_Number .correctRangeExclude {
    background-image: url('resources/correct_range_exclude.svg');
}

.addon_Line_Number .correctRangeInclude {
    background-image: url('resources/correct_range_include.svg');
}

.addon_Line_Number .wrongRangeExclude {
    background-image: url('resources/wrong_range_exclude.svg');
}

.addon_Line_Number .wrongRangeInclude {
    background-image: url('resources/wrong_range_include.svg');
}

.addon_Line_Number .clickArea {
    width: 10px;
    height: 50px;
    top: -25px;
    min-height: 10px;
    min-width: 10px;
    position: absolute;
    z-index: 12;
    overflow: hidden;
}

.addon_Line_Number .stepText {
    position: absolute;
    font-size: 12px;
    top: 10px;
    white-space: nowrap;
}

.addon_Line_Number .x-arrow {
    border-bottom: 6px solid transparent;
    border-left: 6px solid black;
    border-top: 6px solid transparent;
    right: -5px;
    top: -5px;
    position: absolute;
}

.addon_Line_Number .clickArea:hover,
.addon_Line_Number .outer .infinity-left:hover,
.addon_Line_Number .outer .infinity-right:hover {
    cursor: pointer;
}

.addon_Line_Number .selectedRange {
    background-color: #00bb44;
    box-shadow: 0px 0px 1px #111;
    min-height: 10px;
    height: 10px;
    min-width: 2px;
    width: 2px;
    top: -7px;
    position: absolute;
    z-index: 10;
    border-radius: 5px 5px 0px 0px;
}

.addon_Line_Number .correct {
    background-color: #00ff44;
}

.addon_Line_Number .wrong {
    background-color: #ff3344;
}

.addon_Line_Number .currentSelectedRange {
    background-color: #00aaff;
}

.addon_Line_Number .currentMousePosition {
    background-image: url('resources/current_mouse_pos.svg');
}

.addon_Line_Number .infinityLeft {
    border-radius: 0px 5px 0px 0px;
}

.addon_Line_Number .infinityRight {
    border-radius: 5px 0px 0px 0px;
}

.addon_Line_Number .infinityBoth {
    border-radius: 0px;
}

.addon_Line_Number .infinity-hover {
    background-color: #d8d8d8;
}
