.drawing .tmp_canvas {
    position: absolute;
    left: 0; right: 0;
    bottom: 0; top: 0;

    cursor: crosshair;

    -ms-touch-action: none;
    touch-action: none;
}

.drawing .tmp_canvas:active {
    cursor: crosshair;
}
