.puzzle-container {
    border: 2px solid black;
    border-bottom-width: 1px;
    border-right-width: 1px;
    overflow: hidden;
    position: relative;
}

.mark {
    position: absolute;
    z-index: 0;
    width: 35px;
    height: 34px;
}

.mark.wrong {
    background-image: url('resources/puzzle-mark-wrong.png');
    z-index: 5;
}

.mark.correct {
    background-image: url('resources/puzzle-mark-correct.png');
    z-index: 5;
}

.puzzle {
    border: 1px solid black;
    border-top-width: 0;
    border-left-width: 0;
    z-index: 1;
    float: left;
    cursor: pointer;
    position: absolute;
}

.selected {
    border-color: orange;
    z-index: 3;
}

.hovered-over-by-other {
    opacity: 0.8;
}

.being-hovered {
    z-index: 3;
}