.crossword_container {
    position: absolute;
    top: 50%;
    left: 50%;
}

.crossword_container .cell_container {
    float: left;
    position: relative;
}

.printable_crossword_container .printable_cell_container {
    float: left;
    position: relative;
}

.crossword_container .cell {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.printable_crossword_container .printable_cell {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    place-content: center;
}

.crossword_container .cell_letter {
    background: white;
}

.printable_crossword_container .printable_cell_letter {
    background: white;
}

.crossword_container .cell_valid {
    background: #00ff00;
}

.crossword_container .cell_invalid {
    background: #aa0000;
}

.crossword_container .cell_invalid input {
    color: #fff;
}

.crossword_container .cell_container_blank {
    background: black;
}

.printable_crossword_container .printable_cell_container_blank {
    background: black;
}

.crossword_container .cell_letter input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    text-transform: uppercase;
}

.printable_crossword_container .printable_cell_letter_content {
    text-align: center;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
    font-size: large;
}

.crossword_container .cell .word_number {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 6pt;
}

.printable_crossword_container .printable_cell .printable_word_number {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 6pt;
}

.printable_crossword_container .printable_sign_valid {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2px;
}

.printable_crossword_container .printable_sign_invalid {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2px;
}

.printable_crossword_container .printable_sign_valid::after {
    content: " \2714";
}

.printable_crossword_container .printable_sign_invalid::after {
    content: " \2716";
}
