.addon_Page_Score_Counter {
    color: green;
}

.page-score-counter-wrapper > div.hidden {
    display: none;
}

.page-score-counter-wrapper > div {
    text-align: center;
}

.page-score-counter-wrapper .fraction > div {
    text-align: left;
    display: inline-block;
}