.addon_Shape_Tracing .outer {
    position: relative;
    width: 100%;
    height: 100%;
}

.addon_Shape_Tracing .outer .drawing,
.addon_Shape_Tracing .outer .drawing-main,
.addon_Shape_Tracing .outer .background,
.addon_Shape_Tracing .outer .shape {
    position: absolute;
    width: 100%;
    height: 100%;
    -ms-touch-action: none;
    touch-action: none;
}
.addon_Shape_Tracing .outer .correctImage {
    position: absolute;
    width: 100%;
    height: 100%;
    -ms-touch-action: none;
    touch-action: none;
}

.addon_Shape_Tracing .outer .drawing,
.addon_Shape_Tracing .outer .drawing-main {
    cursor: crosshair;
}

.shape-tracing-wrapper.outer {
    position: relative;
    width: 100%;
    height: 100%;
}

.shape-tracing-wrapper.outer .drawing,
.shape-tracing-wrapper.outer .drawing-main,
.shape-tracing-wrapper.outer .background,
.shape-tracing-wrapper.outer .shape {
    position: absolute;
    width: 100%;
    height: 100%;
    -ms-touch-action: none;
    touch-action: none;
}

.shape-tracing-wrapper.outer .correctImage {
    position: absolute;
    width: 100%;
    height: 100%;
    -ms-touch-action: none;
    touch-action: none;
}

.shape-tracing-wrapper.outer .drawing,
.shape-tracing-wrapper.outer .drawing-main {
    cursor: crosshair;
}