.swiffycontainer {
	width: 100%;
	height: 100%;
}

.swiffyAnimation {
	position: absolute;
}

.swiffy-loading-image {
	position: absolute;
	width: 30px;
	height: 30px;
	border: 0;
	outline: 0;
}