.question-wrapper {
    width: 100%;
    height: 100%;
}

.question-wrapper .question-title {
    text-align: center;
    height: 33%;
}

.question-wrapper .hint-button {
    background: url("resources/hint.png");
    width: 60px;
    height: 60px;
    cursor: pointer;
    float: right;
}

.question-wrapper .fifty-fifty {
    background: url("resources/50-50.png");
    width: 60px;
    height: 60px;
    cursor: pointer;
    float: right;
}

.question-wrapper.with-hint .question-tips {
    display: inline-block;
    width: 80%;
}

.question-wrapper.with-hint .question-hint-buttons {
    display: inline-block;
    width: 20%;
}

.question-wrapper.without-hint .question-tips {
    height: 34%;
}

.question-wrapper .question-tips .question-tip {
    display: inline-block;
    cursor: pointer;
    width: 50%;
    height: 50%;
}

.question-wrapper .question-tips .question-tip.correct {
    background-color: greenyellow;
}

.question-wrapper .question-tips .question-tip.wrong {
    background-color: #A52A2A;
}

.question-wrapper .question-hint {
    height: 33%;
}

.question-wrapper .game-won-message-wrapper {
    background-color: #00aa00;
    color: #ffffff;
    width: 100%;
    height: 100%;
}
.question-wrapper .game-won-message {
    text-align: center;
    padding-top: 20%;
}

.question-wrapper .game-lost-message-wrapper {
    background-color: #aa0000;
    color: #ffffff;
    width: 100%;
    height: 100%;

}
.question-wrapper .game-lost-message {
    text-align: center;
    padding-top: 20%;
}