.addon_ConnectingDots .connectingdots {
    border:3px solid #ccc;
    position:relative;
    }      
    
.addon_ConnectingDots .dot_container {
    position:absolute; 
    }

.addon_ConnectingDots .dot {
    position:relative;
    height:10px;
    width:10px;
    background-color:#000;
    border-radius:5px;
    float:left;
    margin:-5px -5px -5px -5px;
    }
    
.addon_ConnectingDots .image-start {
    position:absolute;
    width: 100%;
    height: 100%;
}
.addon_ConnectingDots .image-end {
    position:absolute;
    width: 100%;
    height: 100%; 
}
.addon_ConnectingDots .dot_number {
    position:relative;
    float:left;
    cursor: default;
    }
    
.addon_ConnectingDots .line {
    height:1px;
    position:absolute;
    background-color:#000;

}
    
.addon_ConnectingDots .active .dot {
    background-color:#146CDD;
}

.addon_ConnectingDots .active .dot_number {
    color:#146CDD;
}

.addon_ConnectingDots .correct {
    border:3px solid #04B431;
} 

.addon_ConnectingDots .wrong {
    border:3px solid #DF0101;
}