.table-addon-wrapper {
    border: 0;
    padding: 0;
    margin: 0;
    direction: ltr;
    width: 100%;
    height: 100%;
    direction: ltr;
}

.table-addon-wrapper table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    vertical-align: middle;
}

.table-addon-wrapper table td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    vertical-align: middle;
}

.table-addon-wrapper table tr td {
    border: 1px solid black;
}

.table-addon-wrapper .gapFilled{
    cursor: pointer;
}

.table-addon-wrapper .draggable-gap{
    height: 20px;
    width: 40px;
}

.table-addon-wrapper .table-addon-gap-highlight {
    outline: 2px solid gray;
}

.printable_addon_Table .table-addon-wrapper {
    height: auto;
}

.printable_addon_Table tbody tr:first-child {
    column-break-inside: avoid;
	-webkit-column-break-inside: avoid;
    column-break-after: avoid;
	-webkit-column-break-after: avoid;
}
