.edgeMultiAnimWrapper{
    width: 100%;
    height: 100%;
}

.Stage{
    position: absolute;
}

.edge-loading-image{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 0;
}