.page-progress-panel-container .progress-bar-container.hidden, .page-progress-panel-container .progress-box.hidden {
    display: none;
}

.page-progress-panel-container .progress-bar-container {
    width: 200px;
    height: 50px;
    position: relative;
    border-radius: 5px;
    border: 2px solid #02789F;
    padding: 2px;
    display: inline-block;
    float: left;
}

.page-progress-panel-container .progress-bar-container .text{
    min-height: 30px;
    text-align: center;
    font-size: 12px;
}


.page-progress-panel-container .progress-bar {
    background-color: #3CC6CD;
    position: absolute;
    border-radius: 5px;
    height: 50px;
}

.page-progress-panel-container .progress-text {
    width: 100%;
    text-align: center;
    font-size: 12px;
    position: inherit;
}

.page-progress-panel-container .text {
    width: 100%;
    text-align: center;
    font-size: 12px;
    position:inherit;
}

.page-progress-panel-container .progress-box .text {
    min-height: 35px;
}

.page-progress-panel-container .progress-box {
    line-height: 14px;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 3px;
    border: 1px solid #02789F;
    margin-left: 5px;
    text-align: center;
    border-radius: 5px;
    font-size: 10px;
    float: left;
}