.magicGridWrapper {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.magicGrid {
    margin: 0;
    padding: 0;
    border: none;
}

.selectable-element {
    float: left;
    font-size: 2em;
    font-family: "Verdana";
    padding: 0;
    margin: 0;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    text-align: center;
    color: black;
}

.selectable-element-wrapper {
    float: left;
    font-size: 2em;
    padding: 0;
    margin: 0;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    text-align: center;
}

.selectable-element-selected {
    border-color: #65CDE5;
    background-color: #65CDE5;
    color: white;
}

.selectable-element-selected-correct {
    border-color: green;
}

.selectable-element-selected-uncorrect {
    border-color: red;
}

.selectable-element-show-answers {
    border-color: blue;
}