.task-overlay-wrapper .primary-color {
	background-color: #fcaa47;
	color: #fcaa47;
}

.task-overlay-wrapper .secondary-color {
	background-color: #F7D946;
}

.task-overlay-wrapper .secondary-color .feedback-icon {
	border: 2px solid #F7D946;
}

.task-overlay-wrapper .off-color {
	background-color: gray;
}

.task-overlay-wrapper .off-color .feedback-icon {
	border: 2px solid gray;
}

.task-overlay-wrapper .correct-color {
	background-color: #20B747;
}

.task-overlay-wrapper .correct-color .feedback-icon {
	border: 2px solid #20B747;
}

.task-overlay-wrapper .wrong-color {
	background-color: #F7374A;
}

.task-overlay-wrapper .wrong-color .feedback-icon {
	border: 2px solid #F7374A;
}

.task-overlay-wrapper .baloon-popup-border-color {
	border-color: #fcaa47!important;
}

.task-overlay-wrapper .baloon-popup-arrow-border-color {
	border-color: #fcaa47!important;
}

.module {
	width: 800px;
	height: 600px;
	position:absolute;
	top: 100px;
	left: 200px;
}

.task-overlay-wrapper {
	height:100%;
	width:100%;
}

.task-overlay-wrapper-shadow {
	box-shadow: -3px 4px 4px #DEDEDE;
}

.task-overlay-wrapper .toolbar-container {
	position: absolute;
	bottom: 10px;
	height: 3rem;
	width:100%;
	display: block;
	left: -20px;
}

.task-overlay-wrapper .toolbar-container-shadow:before {
	content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid #6A597A;
    top: 3rem;
    left: 0;
}

.task-overlay-wrapper .feedback-line {
	height: 0.4rem;
    position: absolute;
    top: -0.4rem;
    width: 100%;
    display: inline-block;
}

.task-overlay-wrapper .feedback-icon {
	background-color: inherit;
	position: absolute;
    left: 50%;
    margin-left: -0.8rem;
    top: -27px;
    color: #fff;
	text-align: center;
	font-weight: bold;
	width: 30px;
	height: 30px;
    border-radius: 20px;
    border: inherit;
	display: block;
	font-size: 1.571rem;
}

.task-overlay-wrapper .task-toolbar {
	display: block;
	height: 100%;
	text-align: right;
    direction: ltr;
    padding-right: 0.4em;
    font-weight: bold;
	font-family: "verdana";

}

.task-overlay-wrapper .hidden {
	display: none !important;
}

.task-overlay-wrapper .progress-button {
	float: right;
	display: inline-block;
	height: 2rem;
    cursor: pointer;
    font-family: Rokkitt, serif;
    background-color: #fff;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    border-radius: 20px;
    line-height: 1.8rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.task-overlay-wrapper .progress-button:hover {
	background-color: rgba(255, 255, 255, 0.8)
}

.task-overlay-wrapper .progress-button.disabled {
	background-color: rgba(255, 255, 255, 0.4)
}

.task-overlay-wrapper .progress-button.disabled:hover {
	background-color: #fff
}

.task-overlay-wrapper .attempts-text {
	color: #fff;
	margin-top: 1rem;
	padding-left: 0.75rem;
    padding-right: 0.75rem;
	display: inline-block;
	font-style: italic;
    font-size: 0.938rem;
}


.task-overlay-wrapper .baloon-button {
	color: #fff;
    cursor: pointer;
	margin-top: 0.8rem;
	height: 100% !important;
    display: inline-block;
	vertical-align: middle;
    direction: ltr;
	position:absolute;
	left: 1rem;
}

.task-overlay-wrapper .baloon-button:hover {
	color: rgba(255, 255, 255, 0.4);
}

.task-overlay-wrapper .baloon-button-text {
	user-select: none;
	height: 100% !important;
    display: inline-block;
	vertical-align: middle;
	text-align: right;
	font-family: "verdana";
    font-weight: normal;
}

.task-overlay-wrapper .baloon-popup-wrapper {
	position: absolute;
	left: 0em;
    padding: 0.75rem;
    z-index: 200;
	width:  495px;
    background: rgba(255,255,255,0);
	text-align: left;
}

.task-overlay-wrapper .baloon-popup-wrapper.below {
	top:100%;
}

.task-overlay-wrapper .baloon-popup-wrapper.above {
	bottom:100%;
}

.task-overlay-wrapper .baloon-popup-arrow {
	border-left: 2px solid;
	border-top: 2px solid;
	border-bottom: 0px;
	border-right: 0px;
	width: 14px;
    height: 14px;
	background: #fff;
	position: absolute;
}

.task-overlay-wrapper .baloon-popup-wrapper.below .baloon-popup-arrow {
	bottom: auto;
    top: 4px;
	transform: rotate(45deg);
}

.task-overlay-wrapper .baloon-popup-wrapper.above .baloon-popup-arrow {
	bottom: 4px;
    top: auto;
	transform: rotate(225deg);
}

.task-overlay-wrapper .baloon-popup{
	left: 0em;
    max-width: 35.3rem;
	text-align: left;
    padding: 0.75rem;
    background: #fff;
    border: 2px solid #6A597A;
	direction:ltr;
}

.task-overlay-wrapper .baloon-popup-icon {
	font-size: 1.29rem;
    text-family: 'verdana';
	text-align: center;
    color: #444;
    font-weight: normal;
	display:table-cell;
	padding-right: 0.5rem;
}

.task-overlay-wrapper .baloon-popup-text {
	font-size: 1.29rem;
    text-family: 'verdana';
	text-align: left;
    color: #444;
    font-weight: normal;
	display:table-cell;
}

.task-overlay-wrapper .baloon-popup-close {
	cursor: pointer;
	font-size: 0.8rem;
    text-family: 'verdana';
	text-align: right;
    color: #444;
    font-weight: normal;
	display:block;
	right:0.8rem;
	top: 0.8rem;
	padding:0.4rem;
	position:absolute;
}