.slider-wrapper {
    border: 0 solid black;
}
.slider-element-image-mouse-hover,
.slider-element-image-mouse-click,
.slider-element-image {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 0 solid black;
    -ms-touch-action: none;
}